<!DOCTYPE html>
<html lang="en">
    <div class="grid-container">
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Red Panda</title>
    </head>
    <body>  
        <div>
            <header class="header">
                <div class="brand">
                    <a href="index.html">Red Panda</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <aside>
                Shopping Categories
            </aside>
            <main class="main">
                <ul>
                    <li>Product</li>
                    <li>Product</li>
                    <li>Product</li>
                    <li>Product</li>
                    <li>Product</li>
                </ul>
            </main>
            <footer class="footer">
                &copy; 2022 Red Panda
            </footer>
        </div>
    </body>
    </div>
</html>